/* ===================================================
GRID
=================================================== */
@import "./h-grid";

/* ---------------------------------------------------
Grid Row
--------------------------------------------------- */
.u-grid-row {
	@include grid-container();
	width: 100%;

	/*
	Modifiers
	----------------------- */
	&.is-collapsed {
		@include grid-collapse;
	}

	&.is-equal-height {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/* ---------------------------------------------------
Grid Col
--------------------------------------------------- */
/**
 * Build the grid for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
@each $val in $bp {

	@if length($val) == 1 {
		$namespace: nth($val, 1);
		@include grid-sizes($namespace);
	} @else {

		$namespace: nth($val, 1);
		$size: nth($val, 2);

		@include bp("#{$size}", $min-width: true) {
			@include grid-sizes($namespace);
		}
	}
}