/* ===================================================
GRID
=================================================== */

/* ---------------------------------------------------
Grid Row
--------------------------------------------------- */
.u-grid-row {
	lost-flex-container: row;
}

/* ---------------------------------------------------
Grid Col
--------------------------------------------------- */
.u-grid-col {

	@for $i from 1 through $grid-columns {

		&.is-col-#{$i}-boxed {
			lost-column: $i/$grid-columns $grid-columns/$i 0px;
		}

		&.is-col-#{$i} {
			lost-column: $i/$grid-columns $grid-columns/$i;

			&.isnt-margin {
				margin-right: 0;
			}
		}

	}
}