---
publish: false
---

<div class="u-grid-row{{#is (get options.settings.gridCollapsed) "true"}} is-collapsed{{/is}}{{#if options.settings
.gridRowClasses}} {{options.settings.gridRowClasses}}{{/if}}">
	{{{yield}}}
</div>