---
publish: false
---
<div class="u-grid-row{{#unless options.settings.gridPadding}} is-collapsed{{/unless}}{{#if options.settings.gridRowClasses}} {{options.settings.gridRowClasses}}{{/if}}">
	{{{yield}}}
</div>