{{! ---
utility: u-grid-col
============================================

Requirements:
- (only hbs)

Options:
- columns {Number}      - Columns count
- box {Boolean}         - Columns as box layout
- noMargin {Boolean}    - set margin to 0 when true

Important Notes:

--- }}

<div class="u-grid-col{{#if options.columns}} is-col-{{options.columns}}{{#if options.box}}-boxed{{/if}}{{/if}}{{#if options.noMargin}} isnt-margin{{/if}}">
	{{{yield}}}
</div>