---
publish: false
---
<div class="u-grid-row{{#if options.settings.gridCollapsed}} is-collapsed{{/if}}{{#if options.settings.gridRowClasses}} {{options.settings.gridRowClasses}}{{/if}}">
	{{{yield}}}
</div>